
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

:root{
    --pink:#ff0552;
}
*::selection{
    background: var(--pink);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.2rem 2rem;
    z-index: 10000;
}

header .logo{
    font-size: 3rem;
    color: #fff;
    margin-right: auto;

}

header .logo i{
    padding:0 .5rem;
    color:var(--pink);
}

header form{
    display: flex;
    margin-right: auto;
}

header form #search{
    height:4rem;
    width:40rem;
    padding:0 1rem;
    font-size: 1.7rem;
    color:#333;
    border:none;
}

header form label{
    height:4rem;
    width:5rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.7rem;
    background:#333;
    color:#fff;
    cursor: pointer;
}

header form label:hover{
    background: var(--pink);
}

header .navbar ul{
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li{
    margin: 0 1rem;
}

header .navbar ul li a{
    color: #fff;
    font-size: 2rem;

}

header .navbar ul li a:hover{
    color: var(--pink);
}

header .upload {
    margin-left: 2rem;
    font-size: 2rem;
    background: var(--pink);
    color: #fff;
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;
}


header .upload :hover{
    background: #fff;
    color: #333;
}


.home{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)), url(../images/bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
